<robot name="anbot">  
  <link name="base_link">  
    <visual>  
      <geometry>  
        <box size="0.6 0.6 0.2"/>  
      </geometry>  
      <material name="white">  
         <color rgba="1 1 1 1"/>  
    </material>  
    </visual>  
  </link>  
    
  <link name="base_laser">  
    <visual>
	  <origin xyz="0.0 0.0 0.0" />  
      <geometry>  
       <cylinder length="0.1" radius="0.1"></cylinder>  
      </geometry>  
      <material name="black">  
          <color rgba="0.1 0.1 0.1 1"/>  
      </material>    
    </visual>  
  </link>  
    
  <joint name="base_to_laser" type="fixed">  
    <parent link="base_link"/>  
    <child link="base_laser"/>  
	<origin xyz="0 0 0.3" rpy="0 0 3.38" />
  </joint>  
</robot>  




