<launch>

    <param name="robot_description" textfile="$(find anbot)/urdf/anbot.urdf" />   
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />  
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <param name="/use_sim_time" value="true" />

    <node name="rviz" pkg="rviz" type="rviz"  />

    <node name="playbag" pkg="rosbag" type="play" args="--clock $(find my_move_base)/mymap.bag" />

</launch>
